@import url(//db.onlinewebfonts.com/c/9186e96567fadf9c630b48d987ccd538?family=ChaloopsW00-Bd);

%transition {
  transition: 0.4s ease;
}

%stroked {
  -webkit-text-stroke: 2px black;
  color: #fff;
}

.stroked-sm {
  -webkit-text-stroke: 1px black;
  color: #fff;
}

.dark-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 6;
  @extend %transition;

  &.close {
    left: -100%;
  }

  @media screen and (min-width: 992px) {
    left: -100% !important;
  }
}

.sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  background-color: #fff;
  z-index: 6;
  @extend %transition;

  @media screen and (min-width: 992px) {
    left: -100% !important;
  }

  &.close {
    left: -80%;
  }

  @media screen and (max-width: 575px) {
    width: 90%;

    &.close {
      left: -90%;
    }
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 50px;
    line-height: 1;
    font-weight: 500;
    color: $color1;
  }

  .logo {
    display: block;
    margin: 1.5rem 0 2rem;
  }

  a {
    display: block;
    padding: 0.5rem;
    padding-left: 3rem;
    font-size: 16px;

    &.active {
      color: $color2;
    }
  }

  .social {
    padding-left: 34px;

    a {
      padding: 0 1rem;
    }
  }
}

.logo {
  -webkit-text-stroke: 4px black;
  color: #fff;

  @media screen and (max-width: 1150px) {
    -webkit-text-stroke: 3px black;
    color: #fff;
    font-size: 40px;
  }

  @media screen and (max-width: 991px) {
    -webkit-text-stroke: 2px black;
    color: #fff;
    font-size: 30px;
  }
}

.fs-22 {
  font-size: 22px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-18 {
  font-size: 18px !important;
}

h1,
h2 {
  @extend %stroked;
}

h1 {
  font-size: 78px;

  @media screen and (max-width: 767px) {
    font-size: 64px;
  }

  @media screen and (max-width: 575px) {
    font-size: 56px;
  }
}

h2 {
  font-size: 58px;

  @media screen and (max-width: 575px) {
    font-size: 46px;
  }
}

h3 {
  font-size: 38px;
}

.bg-green {
  background-color: $color1;
}
