@import "colors";
@import "utilities";

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Chaloops W00 Bd", sans-serif;
  color: #000;
}

body {
  font-size: 16px;
}

a {
  cursor: pointer;
}

.page-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-left: 4rem !important;
  padding-right: 4rem !important;

  @media screen and (max-width: 991px) {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }

  @media screen and (max-width: 767px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  @media screen and (max-width: 575px) {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  z-index: 5;

  @extend %transition;

  @media screen and (max-width: 575px) {
    padding: 1rem 0;
  }

  &.scrolled {
    background-color: #fff;
    padding: 1rem 0;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hide-sm {
      @media screen and (max-width: 991px) {
        display: none !important;
      }
    }

    .show-sm {
      @media screen and (min-width: 992px) {
        display: none !important;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 20px;

      span {
        display: block;
        width: 26px;
        height: 4px;
        background-color: #000;
        border-radius: 6px;
      }

      &:hover {
        span {
          // background-color: $color1;
        }
      }
    }

    .nav {
      display: flex;
      align-items: center;
      gap: 60px;

      .links,
      .social {
        display: flex;
        align-items: center;
      }

      .links {
        gap: 50px;

        a {
          font-size: 18px;
          @extend %transition;

          &:hover {
            color: $color1;
          }
        }
      }

      .social {
        gap: 20px;
      }
    }
  }
}

#landing {
  padding: 0 !important;

  img {
    display: block;
  }
}

#about {
  position: relative;
  background-color: $color1;
  padding: 240px 0 400px;
  z-index: 1;

  @media screen and (max-width: 900px) {
    // padding-top: 100px;
  }

  .vector {
    position: absolute;
    left: 0;
    bottom: -13%;
    width: 100%;
    z-index: 1;

    @media screen and (max-width: 575px) {
      bottom: -8%;
    }

    @media screen and (min-width: 1450px) {
      bottom: -20%;
    }
  }

  .vector-bg {
    position: absolute;
    top: calc(50% - 5%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1470px;

    @media screen and (max-width: 1390px) {
      top: calc(50% - 6%);
    }

    @media screen and (max-width: 767px) {
      height: 65%;
    }
  }

  .page-container {
    max-width: 1000px;

    @media screen and (max-width: 1390px) {
      max-width: 800px;

      p {
        font-size: 12px;
      }
    }

    @media screen and (max-width: 1100px) {
      max-width: 600px;
      text-align: center;

      p {
        font-size: 12px;
      }

      .main-row {
        & > .col-lg-7 {
          width: 100%;
        }

        & > .col-lg-5 {
          width: 100%;
        }

        .nft {
          position: absolute;
          width: 500px !important;
          left: 2rem;
        }
      }
    }

    @media screen and (max-width: 991px) {
      .col-lg-5 {
        transform: translateY(9rem) scale(0.5);
      }

      .nft {
        bottom: -33rem;
        left: 1rem;
      }
    }

    @media screen and (max-width: 830px) {
      max-width: 80%;

      h2 {
        line-height: 1.75;
      }
    }

    @media screen and (max-width: 700px) {
      max-width: 80%;

      p {
        font-size: 10px;
      }

      .nft {
        bottom: -36rem;
        left: calc(50% - 14rem) !important;
      }
    }

    @media screen and (max-width: 700px) {
      br {
        display: none;
      }
    }

    h2 {
      @media screen and (max-width: 1400px) and (min-width: 992px) {
        font-size: 44px;
      }

      @media screen and (max-width: 820px) {
        font-size: 40px;
      }

      @media screen and (max-width: 575px) {
        font-size: 30px;
      }

      @media screen and (max-width: 420px) {
        font-size: 24px;
      }
    }

    .btn {
      @media screen and (max-width: 991px) {
        margin-left: auto;
        margin-right: auto;
      }

      @media screen and (max-width: 575px) {
        width: 100px;
      }
    }
  }

  .about-container {
    position: relative;
  }

  * {
    color: #fff;
  }
}

#rarity {
  position: relative;
  background: linear-gradient(to bottom, $color2, $color3);
  padding: 7rem 0 120px;
  z-index: -1;

  @media screen and (min-width: 1450px) {
    padding-top: 15%;
  }

  .vector {
    position: absolute;
    left: 0;
    width: 100%;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
      transform: rotate(180deg);
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 36px;
  }

  .nft-cards {
    .main-row {
      justify-content: center;
    }

    .col-lg {
      @media screen and (min-width: 992px) {
        width: 20%;
      }

      .nft-card {
        border-radius: 10px;
        background-color: $color1;

        .main {
          height: 100%;
          padding: 31px 18px 0;
          background: url(../assets/bg-attribue-card.svg);
          background-size: cover;
        }

        * {
          color: #fff;
        }

        h3 {
          @extend %stroked;

          @media screen and (max-width: 1230px) {
            font-size: 28px;
          }
        }

        img {
          width: 100%;

          @media screen and (max-width: 575px) {
            max-width: 230px;
            margin-left: auto;
            display: block;
          }
        }
      }
    }
  }

  .categories-container {
    h2 {
      margin-top: 140px;
    }

    .categorie-cards {
      .category-card {
        background-color: $color1;
        border-radius: 15px;
        height: 156px;

        @media screen and (max-width: 360px) {
          height: 230px;
        }

        .main {
          height: 100%;
          padding: 0 1rem;
          background: url(../assets/bg-attribue-card.png);
          background-size: cover;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media screen and (max-width: 360px) {
            flex-direction: column;
            padding: 1rem 0;

            & > h3 {
              width: 100%;
              text-align: center;
            }
          }

          h3 {
            font-size: 32px;
            @extend %stroked;

            @media screen and (max-width: 1170px) and (min-width: 1061px) {
              font-size: 28px;
            }

            @media screen and (max-width: 1060px) and (min-width: 992px) {
              font-size: 24px;
            }
          }

          img {
            @media screen and (max-width: 1200px) {
              transform: scale(0.6);
            }
          }
        }
      }
    }
  }
}

#team {
  position: relative;
  padding-top: 30%;
  text-align: center;
  z-index: 1;

  .sub-title {
    font-size: 48px;

    @media screen and (max-width: 767px) {
      font-size: 40px;
    }

    @media screen and (max-width: 575px) {
      font-size: 34px;
    }
  }

  .vector {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .team-cards {
    .team-card {
      h3 {
        @media screen and (max-width: 1280px) and (min-width: 992px) {
          font-size: 30px;
          -webkit-text-stroke: 1px black;
        }
      }

      .fs-20 {
        @media screen and (max-width: 1150px) {
          font-size: 16px !important;
        }
      }

      img {
        width: 100%;
        max-width: 275px;
        margin-bottom: 0.5rem;
      }
      h3 {
        @extend %stroked;
      }
    }
  }
}

#foot {
  margin-top: -3rem;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 767px) {
    margin-top: 3rem;
  }

  @media screen and (max-width: 575px) {
    margin-top: 7rem;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 767px) {
      top: calc(50% - 3rem);
    }

    @media screen and (max-width: 575px) {
      top: calc(50% - 5rem);
    }
  }

  img.vector {
    width: 100%;
    display: block;
  }
}
